body{


}
#ul{
margin-top: 60px;
width:auto;

height: 50px;
background-color: black;
border: 2px black solid;

}
#li{

  height: 30px;
margin-right: 30px;
margin-top: 15px;
  font-size: 18px;
  font-family: sans-serif;


  display: inline-block;

}
 #li a, a:link, a:visited, a:active, a:hover{
    text-decoration:none;
    color: white;
}
